extends base

mixin navItem(link, text, icon, active) 
  li(class=`${active}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}


block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings', `${activeTab === 'settings' ? 'side-nav--active' : ''}`)
          +navItem('/my-tours', 'My Bookings', 'briefcase', `${activeTab === 'bookings' ? 'side-nav--active' : ''}`)
          +navItem('#', 'My Reviews', 'star')
          +navItem('#', 'Billing', 'credit-card')
        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('#', 'Manage Tours', 'map')
              +navItem('#', 'Manage Users', 'users')
              +navItem('#', 'Manage Bookings', 'briefcase')
              +navItem('#', 'Manage Reviews', 'star')

      .user-view__content
        block account
